.cardContainer {
    text-align: center;
  }
      
.card-title {
    font-family: 'Berkshire Swash', cursive; 
}

.card-text {
    font-family: 'Belleza', sans-serif;
}

.belleza {
    font-family: 'Belleza', sans-serif;
}

.bellota {
    font-family: 'Bellota', cursive;
}

.berkshire {
    font-family: 'Berkshire Swash', cursive;
}

.whyImages {
    height: 1.75rem;
}

.rightWhySections{
    margin-left: -.5em;
}

.card-body {
    background-color: #15637B;
    color: white;
}

body {
    background-color: #FFE0C7;
}



.card-img-top {
    background-color: #FFE0C7;
}

.jumbotron {
    background-image: url(../images/Jumbo\ Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(60vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }
  
.top {
    font-family: 'Berkshire Swash', cursive;
}

.bottom {
    font-family: 'Belleza', sans-serif;

}

.bg-light {
    background-color: #FFE0C7!important;
}


.limeGreen {
    background-color: #E9F88B;
}


/* @media (min-width:768px) {
.card-text {
    height: 120px;
}
    } */




@media only screen and (min-width: 600px) {
    
  }