.cardContainer {
    text-align: center;
  }
      
.card-title {
    font-family: 'Berkshire Swash', cursive; 
}

.card-text {
    font-family: 'Belleza', sans-serif;
    height: 4em;
}

.belleza {
    font-family: 'Belleza', sans-serif;
}

.bellota {
    font-family: 'Bellota', cursive;
}

.berkshire {
    font-family: 'Berkshire Swash', cursive;
}

.whyImages {
    height: 1.75rem;
}

.rightWhySections{
    margin-left: -.5em;
}

.card-body {
    background-color: #15637B;
    color: white;
}

body {
    background-color: #FFE0C7;
}



.card-img-top {
    background-color: #FFE0C7;
}

.jumbotron {
    background-image: url(../images/Jumbo\ Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(60vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }
  
.top {
    font-family: 'Berkshire Swash', cursive;
}

.bottom {
    font-family: 'Belleza', sans-serif;

}


.circleDiv {
    border-radius: 50%;
    height: 80%;
    padding: 5vw 20vw;
    width: 20em;
    overflow: hidden;
    background-color: #9CC8CA;
    margin-left: 0;
}

.gutterGone{
    padding-left: 0;
}

.raiseCenter {
    position: relative;
    right: 4em;
}

.textWidth{
    width: 4.5em;
}

.widthContent{
    width: max-content;
    margin-top: 1rem;
    margin-left: -1.5rem;
}
.bg-light {
    background-color: #FFE0C7!important;
}


.limeGreen {
    background-color: #E9F88B;
}

.btn {
    background-color: #F0676F;
    font-family: 'Bellota', cursive;
    border: white;
}

.btn-primary {
    color: #fff;
    background-color: #F0676F;
    border-color: white; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #15637B;
    border-color: white; 
}

.nav-item {
    font-family: 'Belleza', sans-serif;
}

.footer {
    background-color: #15637B;
    color: white;

}

.android {
    height: 8vh;
}

.apple {
    height: 6vh;
}

.navbar-light .navbar-nav .nav-link {
    color: black;

}

.logoImg {
    width: 8em;
}

.nav-item {
        float: left;
        padding: 0 10px;
        font-size: 16px;
        border-right: 1px black solid;
      
}
.lefty{
    text-align: left;
}
.righty{
    float: right;
}

.nav-item:last-child {
        border-right: none;
      
}

#navbarSupportedContent {
    margin-top: 2.5em;
}

.navbar {
    border-bottom: black solid;
    border-width: .5px;
    width: 90%;
    margin:auto ;
}

.jumbotron {
    margin-top: 2em;
}


@media (max-width: 600px) {
    .jumbotron {
        background-image: url(../images/Jumbo\ Background.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(45vh - 10px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    


    }




@media only screen and (min-width: 768px) and (max-width: 962px) {
    .card-text {
        height: 120px;
    }

    .card-title {
        height: 2em;
    }
  }
@media only screen and (max-width: 767px){
    .circleDiv{
        padding: 3rem 1;
        margin: auto;
        height: auto;
        width: 100%;
    }
    .raiseCenter{
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .textWidth{
        width: 8em;
        text-align: center;
    }
    .widthContent{
        padding-left: 0;
        margin-left: 0;
    }
    .gutterGone{
        padding-right: 0;
    }

    .cardContainer {
        margin-bottom: 2em;
    }
    .nav-item {
        float: none;
        padding: 0 10px;
        font-size: 16px;
        border-right: none;
    }
    
    .searchLogo {
        display: none;
    }
    
    
}

@media only screen and (max-width: 992px){
.nav-item {
    float: none;
    padding: 0 10px;
    font-size: 16px;
    border-right: none;
}

.searchLogo {
    display: none;
}

}



@media only screen and (min-width: 992px){
    .textWidth{
        width: 8em;
    }
    .shiftLeft{
        position: relative;
        right: 2em;
    }
    .tasteLogo{
        margin-top: -1.5em;
    }

    
}

